ion-badge.cl{
    position: absolute;
    top: 0px;
    right: -5px;
}

.greenBackground {
    background-color:#408521;
    border-radius: 10px;
    color: white;
}

.days {
    border-style:  solid;
    border: 1px;
}
#border {
    border-style: solid;
    border-width: thin;
    border-radius: 10px;
}
.biglabel {
    margin-left: 5px;
    font-size: 1.2em;
  }


