<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">
      Buchungen
    </ion-title>
  </ion-toolbar>
</ion-header>
<app-offline-banner class="ion-padding-bottom"></app-offline-banner>
<ion-content>
  <div>
    <div>
      <ion-card>
        <ion-card-content>
          <ion-calendar #calendar [options]="calendarOptions" [format]="'DD.MM.YYYY'" [(ngModel)]="selectedDate" (change)="daySelect()">
          </ion-calendar>
        </ion-card-content>
      </ion-card>
    </div>

    <div *ngIf="bookingsToDisplay.length == 0">
      <ion-card>
        <ion-card-content>
          <ion-label>Keine Buchungen für diesen Tag vorhanden</ion-label>
        </ion-card-content>
      </ion-card>
    </div>

    <div *ngFor="let booking of bookingsToDisplay">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>
              <span *ngIf="booking.status == 'planned'">Geplante Buchung von </span>
              <span *ngIf="booking.status == 'active' || booking.status == 'paused'">Derzeit aktive Fahrt seit </span>
              <span *ngIf="booking.status == 'finished'">Abgeschlossene Fahrt von </span>
              <span *ngIf="!booking.multipleDays">{{booking.startdate | dateFormat: 'DD.MM.YY HH:mm'}} bis {{booking.enddate | dateFormat: 'HH:mm'}} Uhr</span>
              <div *ngIf="booking.multipleDays">{{booking.startdate | dateFormat: 'DD.MM.YYYY HH:mm'}} Uhr bis {{booking.enddate | dateFormat: 'DD.MM.YYYY HH:mm'}} Uhr</div>
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-row>
            <ion-col size="8">
              <ion-chip>
                <ion-icon name="bicycle-outline" color="primary"></ion-icon>
                <ion-badge color="primary">{{booking.bicyclePedshareId}}</ion-badge>
                <ion-label class="ion-padding-start">{{booking.bicycleName}}</ion-label>
              </ion-chip>
            </ion-col>
            <ion-col *ngIf="booking.status == 'planned'" class="ion-text-end">
              <ion-icon name="settings-sharp" style="font-size: 26px; margin-top: 6px;" color="primary" 
                (click)="updateBooking(booking)"></ion-icon>
              <ion-icon name="trash-bin" class="ion-margin-start" style="font-size: 26px; margin-top: 6px;" color="primary"
                (click)="deleteBooking(booking)"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="booking.status == 'planned' || booking.status == 'active' || booking.status == 'paused'">
            <ion-col>
              <ion-text> Abholort:</ion-text>
              <ion-row>
                <ion-chip outline="true">
                  <ion-icon name="pin" color="primary"></ion-icon>
                  <ion-label>{{ booking.startstationName }}</ion-label>
                </ion-chip>
              </ion-row>
            </ion-col>
            <ion-col>

              <ion-text> Abgabeort:</ion-text>
              <ion-row>
                <ion-chip outline="true">
                  <ion-icon name="flag" color="primary"></ion-icon>
                  <ion-label>{{ booking.endstationName }}</ion-label>
                </ion-chip>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="booking.status == 'finished'">
          <ion-col size-sm="4" size-xs="6">
            <ion-row>
              <ion-text>Distanz:</ion-text>
            </ion-row>
            <ion-row>
              <ion-chip outline="true">
                <ion-icon name="navigate-circle-outline" color="primary"></ion-icon>
                <ion-label>{{booking.totalDistanceInKM | number: '0.0-2'}} km</ion-label>
              </ion-chip>
            </ion-row>
          </ion-col>
          <ion-col size-sm="4" size-xs="6">
            <ion-row>
              <ion-text>CO&#8322; gespart:</ion-text>
            </ion-row>
            <ion-row>
              <ion-chip outline="true">
                <ion-icon name="leaf-outline" color="primary"></ion-icon>
                <ion-label>{{(booking.totalco2SavingsInKg | number:'0.0-2') || '0'}} kg</ion-label>
              </ion-chip>
            </ion-row>
          </ion-col>
          <ion-col size-sm="4" size-xs="6">
            <ion-row>
              <ion-text>&empty; Geschwindigkeit:</ion-text>
            </ion-row>
            <ion-row>
              <ion-chip outline="true">
                <ion-icon name="speedometer-outline" color="primary"></ion-icon>
                <ion-label>{{(booking.totalAvgSpeedInKMH| number:'0.0-2') || '0'}} km/h</ion-label>
              </ion-chip>
            </ion-row>
          </ion-col>
          <ion-col size-sm="4" size-xs="6">
            <ion-row>
              <ion-text>Fahrzeit:</ion-text>
            </ion-row>
            <ion-row>
              <ion-chip outline="true">
                <ion-icon name="time-outline" color="primary"></ion-icon>
                <ion-label>{{booking.totalDurationHHMM}}</ion-label>
              </ion-chip>
            </ion-row>
          </ion-col>  
        </ion-row>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>