<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">
      Mobility Manager
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!loading; else displayLoading">
    <!-- NORMAL USER MODE-->
    <ion-card *ngIf="!user.isAdmin">
      <ion-card-header>
        <ion-card-subtitle>{{company.name}}</ion-card-subtitle>
        <ion-card-title>{{company.mobilityManagerName}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Solltest Du Fragen zum PedShare Projekt oder Probleme bei der Nutzung der App haben, kannst du Dich gerne bei
        mir melden.
      </ion-card-content>

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button expand="block" color="success" (click)="callMobilityManager()">Anrufen</ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="block" color="success" (click)="mailMobilityManager()">E-Mail</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    <!--ADMIN USER MODE-->
    <div *ngIf="user.isAdmin">
      <ion-card>
        <ion-card-header>
          <!-- <ion-card-subtitle>PedShare E-Bike</ion-card-subtitle> -->
          <ion-card-title>Fahrrad</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <ion-select interface="action-sheet" [(ngModel)]='selectedBike' (ionChange)="initLockService()"
          placeholder="Bitte Fahrrad auswählen">
          <ion-select-option *ngFor="let bike of bikes" value={{bike.id}}>#{{bike.pedshareId}} {{bike.name}}
          </ion-select-option>
        </ion-select>
        </ion-card-content>
      </ion-card>
      <ion-card [hidden]="!selectedBike">
        <ion-card-header>
          <ion-card-subtitle>Schloss manuell steuern</ion-card-subtitle>
          <!-- <ion-card-title>Card Title</ion-card-title> -->
        </ion-card-header>
      
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-button expand="block" color="success" (click)="unlockBike()">Entsperren</ion-button>
              </ion-col>
              <ion-col>
                <ion-button expand="block" color="danger" (click)="lockBike()">Sperren</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>


      <ion-card [hidden]=selectedBike>
        <ion-card-content>
          Wähle zunächst ein Fahrrad aus um das Schloss manuell zu bedienen und vergangene Buchungen sehen zu können.
        </ion-card-content>
      </ion-card>
    </div>
  </div>

  <ng-template #displayLoading>
    <ion-spinner style="position: fixed; top: 50%; left: 50%"></ion-spinner>
  </ng-template>



<ion-card [hidden]=!selectedBike>
  <ion-card-header>
    <ion-card-subtitle>Geplante / Abgeschlossene Buchungen (max 10)</ion-card-subtitle>
    <!-- <ion-card-title>Card Title</ion-card-title> -->
  </ion-card-header>

  <ion-card-content>
    <div *ngIf="loadBookings; else displayBookings">
      <ion-spinner class="ion-padding-top" style="display: block; margin: auto;"></ion-spinner>
    </div>
    <ng-template #displayBookings>
      <div *ngIf="bikeBookings.length == 0">Es sind keine Buchungen für das gewählte Fahrrad vorhanden.</div>
      <ion-list>
        <ion-item *ngFor="let booking of bikeBookings">
          <ion-label>
          <p>{{booking.status}}</p>
          <h3>Start: {{booking.startdate | dateFormat: 'DD.MM HH:mm'}}</h3>
          <h3>Rückgabe: {{booking.enddate | dateFormat: 'DD.MM HH:mm'}}</h3>
          <h3>{{booking.startstationName}} -> {{booking.endstationName}}</h3>
          <ion-button size="small" color="light"  expand="block"  (click)='openUserModal(booking.uid)'>Nutzer Kontaktieren</ion-button>
          </ion-label>
        </ion-item>
      </ion-list>
    </ng-template>
  </ion-card-content>
</ion-card>
</ion-content>