<!--Header-->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="home" (click)="dismissModal()"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Neue Buchung</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="ion-text-center">Startstation</ion-card-subtitle>
      <ion-card-title class="ion-text-center">{{ pickUpStation.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Endstation</ion-label>
        <ion-select [(ngModel)]="dropOffStation" (ionChange)="getAvailableBikes()">
          <ion-select-option *ngFor="let station of allStations" [value]="station">{{station.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Start</ion-label>
        <ion-datetime displayFormat="DD.MM.YYYY HH:mm" [(ngModel)]="pickupTime" [min]="now" [max]="inOneYear" minuteValues="0,15,30,45"
          hourValues="7,8,9,10,11,12,13,14,15,16,17,18,19" (ionChange)="autoSetDropOffTime(); getAvailableBikes()"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>Buchen bis</ion-label>
        <ion-datetime displayFormat="DD.MM.YYYY HH:mm" [(ngModel)]="dropOffTime"
          minuteValues="0,15,30,45" hourValues="7,8,9,10,11,12,13,14,15,16,17,18,19" [min]="pickupTime" [max]="inOneYear" (ionChange)="getAvailableBikes()"></ion-datetime>
      </ion-item>

      <ion-item class="ion-margin-top" [hidden]="!showSpinner">
        <ion-label>Suche verfügbare Fahrräder...</ion-label>
        <ion-spinner name="crescent"></ion-spinner>
      </ion-item>
      
      <ion-item class="ion-margin-top" *ngIf="availableBicycles.length==0" [hidden]="showSpinner || showConnectionError">
        <ion-label class="ion-text-wrap">Leider sind zum gewählten Zeitraum keine Fahrräder vefügbar.</ion-label>
      </ion-item>

      <ion-item class="ion-margin-top" *ngIf="showConnectionError">
        <ion-label class="ion-text-wrap">Leider ist beim Abruf ein Fehler aufgetreten. Probiere es später noch einmal.</ion-label>
      </ion-item>
      
      <ion-radio-group [(ngModel)]="selectedBicycle" [hidden]="showSpinner">
        <ion-list *ngFor="let bicycle of availableBicycles" ngDefaultControl>
          <ion-item>
            <ion-radio slot="start" value="{{bicycle.bicycleId}}"></ion-radio>
            <ion-badge color="primary">{{bicycle.pedshareId}}</ion-badge>
            <ion-label class="ion-padding-start">{{ bicycle.name }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-radio-group>
      <ion-button class="ion-margin-top" [hidden]="showSpinner" [disabled]="!selectedBicycle"
        (click)="makeBooking()" fill="outline" expand="block">Jetzt Buchen
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>