.greenBackground {
    background-color:  #408521;
    color:white;
    text-align: center;
    font-size: 15px;
    //margin-left:30px;
    //margin-right:30px;
    margin-top: 10px;
}
.cells {
    border: 1px solid;
    border-color: white;

}

.question {
    font-size: 20px;
}

//.col_survey {
   //text-align: center !important;
    //border: 2px solid #73AD21;
    //margin: 10px;
//}
ion-progress-bar{
    height:30px !important;
    border-radius: 25px !important;
}
.icons{
    font-size: 30px;
    zoom : 20.0;
}

.ripple-parent {
    position: relative;
    overflow: hidden;
}
.spinner {
    text-align : center;
}