<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">
      Forschung
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Sei ein Teil unserer Forschung!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-label>Unterstütze uns das Projekt so erfolgreich wie möglich zu machen, indem Du an unseren Umfragen rund um
        die App teilnimmst und Deine Nutzungserfahrungen mit uns teilst. </ion-label>
      <br><br>
      <ion-label><b>Datenschutz</b></ion-label>
      <div>
        <ion-label>Deine Antworten werden unabhängig von Deinem Profil gespeichert und ausgewertet. In Deinem
          Nutzerprofil wird lediglich gespeichert an welchen Umfragen Du bereits teilgenommen hast.</ion-label>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-grid *ngIf="showSpinner">
    <ion-row class="spinner">
      <ion-col size="12">
        <ion-label>Wir suchen nach Umfragen..</ion-label>
        <ion-spinner name="crescent"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div [hidden]="showSpinner">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Neue Umfragen:</ion-card-title>
      </ion-card-header>
    
      <ion-card-content *ngIf="surveys.length>0; else noSurveys">
        <div *ngFor="let survey of surveys">
          <ion-button class="ion-margin-bottom" expand="block" (click)="startSurvey(survey)">
            {{survey.name}}</ion-button>
        </div>
      </ion-card-content>

      <ng-template #noSurveys>
        <ion-card-content>
        Derzeit sind keine neuen Umfragen verfügbar.
      </ion-card-content>
      </ng-template> 
    </ion-card>
    
    <ion-card *ngIf="completedSurveys.length>0 || offlineCompletedCount>0">
      <ion-card-header>
        <ion-card-title>Beantwortete Umfragen:</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div *ngFor="let survey of completedSurveys">
          <ion-button class="ion-margin-bottom" expand="block" [disabled]=true>
            {{survey.name}}</ion-button>
        </div>
        <div *ngIf="offlineCompletedCount==1" class="ion-margin-top">Du hast an einer weiteren Umfrage teilgenommen, die nicht mehr verfügbar ist.</div>
        <div *ngIf="offlineCompletedCount>1" class="ion-margin-top">Du hast an {{offlineCompletedCount}} weiteren Umfragen teilgenommen, die nicht mehr verfügbar sind.</div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
