<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">
      Erfolge
    </ion-title>
  </ion-toolbar>
</ion-header>
<app-offline-banner class="ion-padding-bottom"></app-offline-banner>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refreshData($event)">
    <ion-refresher-content> </ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Dein Gesamtbeitrag</ion-card-title>
      </ion-card-header>
      <ion-card-content >
          <ion-row *ngIf="loading" class="spinner">
            <ion-col size="12">
              <ion-label>Lade Erfolge...</ion-label>
              <ion-spinner name="crescent"></ion-spinner>
            </ion-col>
          </ion-row>
        <ion-row *ngIf="!loading">
          <ion-col size-sm="4" size-xs="6">
            <ion-row>
              <ion-text>Gesamtstrecke:</ion-text>
            </ion-row>
            <ion-row>
              <ion-chip outline="true">
                <ion-icon name="flag" color="primary"></ion-icon>
                <ion-label> {{(user.achievements.totalDistanceInKm |number: '0.0-2') || 0}} km</ion-label>
              </ion-chip>
            </ion-row>
          </ion-col>
          <ion-col size-sm="4" size-xs="6">
            <ion-row>
              <ion-text>CO&#8322; gespart:</ion-text>
            </ion-row>
            <ion-row>
              <ion-chip outline="true">
                <ion-icon name="leaf" color="primary"></ion-icon>
                <ion-label>{{(user.achievements.totalco2SavingsInKg |number: '0.0-2') || 0}} kg</ion-label>
              </ion-chip>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="!loading">
          <ion-col size-sm="4" size-xs="6">
            <ion-row>
              <ion-text>Anzahl an Buchungen:</ion-text>
            </ion-row>
            <ion-row>
              <ion-chip outline="true">
                <ion-icon name="bicycle" color="primary"></ion-icon>
                <ion-label> {{(user.achievements.totalNumberOfBookings) || 0}}</ion-label>
              </ion-chip>
            </ion-row>
          </ion-col>
          <ion-col size-sm="4" size-xs="6">
            <ion-row>
              <ion-text>Bewegungsdauer:</ion-text>
            </ion-row>
            <ion-row>
              <ion-chip outline="true">
                <ion-icon name="timer" color="primary"></ion-icon>
                <ion-label>{{(user.achievements.totalDurationInM |number: '0.0-0') || 0}} min</ion-label>
              </ion-chip>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="!loading">
          <ion-col size-sm="4" size-xs="6">
            <ion-row>
              <ion-text>Aktive Monate:</ion-text>
            </ion-row>
            <ion-row>
              <ion-chip outline="true">
                <ion-icon name="calendar" color="primary"></ion-icon>
                <ion-label> {{(user.achievements.totalActiveMonths) || 0}}</ion-label>
              </ion-chip>
            </ion-row>
          </ion-col>
          <ion-col size-sm="4" size-xs="6">
            <ion-row>
              <ion-text>Monats-Gewinne:</ion-text>
            </ion-row>
            <ion-row>
              <ion-chip outline="true">
                <ion-icon name="trophy" color="primary"></ion-icon>
                <ion-label>{{(user.achievements.monthlyWins)|| 0}}</ion-label>
              </ion-chip>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Dein Beitrag diesen Monat</ion-card-title>
      </ion-card-header>
      <ion-card-content >
          <ion-row *ngIf="loading" class="spinner">
            <ion-col size="12">
              <ion-label>Lade Erfolge...</ion-label>
              <ion-spinner name="crescent"></ion-spinner>
            </ion-col>
          </ion-row>
        <ion-row *ngIf="!loading">
          <ion-col size-sm="4" size-xs="6">
            <ion-row>
              <ion-text>Gesamtstrecke:</ion-text>
            </ion-row>
            <ion-row>
              <ion-chip outline="true">
                <ion-icon name="flag" color="primary"></ion-icon>
                <ion-label> {{(user.achievements.monthlyDistanceInKm |number: '0.0-2') || 0}} km</ion-label>
              </ion-chip>
            </ion-row>
          </ion-col>
          <ion-col size-sm="4" size-xs="6">
            <ion-row>
              <ion-text>CO&#8322; gespart:</ion-text>
            </ion-row>
            <ion-row>
              <ion-chip outline="true">
                <ion-icon name="leaf" color="primary"></ion-icon>
                <ion-label>{{(user.achievements.monthlyco2SavingsInKg |number: '0.0-2') || 0}} kg</ion-label>
              </ion-chip>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="!loading">
          <ion-col size-sm="4" size-xs="6">
            <ion-row>
              <ion-text>Anzahl an Buchungen:</ion-text>
            </ion-row>
            <ion-row>
              <ion-chip outline="true">
                <ion-icon name="bicycle" color="primary"></ion-icon>
                <ion-label> {{(user.achievements.monthlyNumberOfBookings) || 0}}</ion-label>
              </ion-chip>
            </ion-row>
          </ion-col>
          <ion-col size-sm="4" size-xs="6">
            <ion-row>
              <ion-text>Bewegungsdauer:</ion-text>
            </ion-row>
            <ion-row>
              <ion-chip outline="true">
                <ion-icon name="timer" color="primary"></ion-icon>
                <ion-label>{{(user.achievements.monthlyDurationInM |number: '0.0-0') || 0}} min</ion-label>
              </ion-chip>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="!loading">
      <ion-card-header>
        <ion-card-title>Ranking</ion-card-title>
      </ion-card-header>
      <ion-card-content *ngIf="user.enableRanking">
        <ion-segment [(ngModel)]="segment" >
          <ion-segment-button value="monthly">
            <ion-label>Dieser Monat</ion-label>
          </ion-segment-button>
          <ion-segment-button value="total">
            <ion-label>Gesamt</ion-label>
          </ion-segment-button>
        </ion-segment>
        
        <ion-grid *ngIf="segment == 'monthly'">
          <ion-row>
            <ion-col class="tableheader" size="2">Platz</ion-col>
            <ion-col class="tableheader" size="4">Name</ion-col>
            <ion-col class="tableheader" size="3">Distanz</ion-col>
            <ion-col class="tableheader" size="3">CO&#8322; gespart</ion-col>
          </ion-row>

          <div *ngFor="let rankingUser of monthly_ranking; let i = index">
            <ion-row class = "greyBackground" [ngClass]="{'ownPlacement': user.uid === rankingUser.uid}">
              <ion-col size="2">
                <ion-icon *ngIf="i==0" name="trophy" class="firstplace"></ion-icon>
                <ion-icon *ngIf="i==1" name="trophy" class="secondplace"></ion-icon>
                <ion-icon *ngIf="i==2" name="trophy" class="thirdplace"></ion-icon>
                {{i+1}}
              </ion-col>
              <ion-col class="tableCell" size="4">{{rankingUser.name}}</ion-col>
              <ion-col class="tableCell" size="3">{{rankingUser.distanceInKm | number: '0.0-0'}} km</ion-col>
              <ion-col class="tableCell" size="3">{{rankingUser.monthlyco2SavingsInKg | number: '0.0-0'}} kg</ion-col>
            </ion-row>
          </div>
        </ion-grid>

        <ion-grid *ngIf="segment == 'total'">
          <ion-row>
            <ion-col class="tableheader" size="2">Platz</ion-col>
            <ion-col class="tableheader" size="4">Name</ion-col>
            <ion-col class="tableheader" size="3">Distanz</ion-col>
            <ion-col class="tableheader" size="3">CO&#8322; gespart</ion-col>
          </ion-row>

          <div *ngFor="let rankingUser of total_ranking; let i = index">
            <ion-row class = "greyBackground" [ngClass]="{'ownPlacement': user.uid === rankingUser.uid}">
              <ion-col size="2">
                <ion-icon *ngIf="i==0" name="trophy" class="firstplace"></ion-icon>
                <ion-icon *ngIf="i==1" name="trophy" class="secondplace"></ion-icon>
                <ion-icon *ngIf="i==2" name="trophy" class="thirdplace"></ion-icon>
                {{i+1}}
              </ion-col>
              <ion-col class="tableCell" size="4">{{rankingUser.name}}</ion-col>
              <ion-col class="tableCell" size="3">{{rankingUser.distanceInKm | number: '0.0-0'}} km</ion-col>
              <ion-col class="tableCell" size="3">{{rankingUser.totalco2SavingsInKg | number: '0.0-0'}} kg</ion-col>
            </ion-row>
          </div>
        </ion-grid>
        
        
        <div style="margin-top: 10px;">Du kannst die öffentliche Teilnahme am Ranking in den Profileinstellungen deaktivieren.</div>
      </ion-card-content>
      <ion-card-content *ngIf="!user.enableRanking">
        <div>Du nimmst derzeit nicht am Ranking innerhalb Deines Unternehmens Teil. Du kannst dies in den
          Profileinstellungen ändern.</div>
      </ion-card-content>
    </ion-card>   
</ion-grid>
</ion-content>