.firstplace{
    color: #d4af37;
    vertical-align: middle;
}
.secondplace{
    color: #c0c0c0;
    vertical-align: middle;
}
.thirdplace{
    color: #cc8e34;
    vertical-align: middle;
}
.tableheader{
    background-color: #408521;
    border: 1px solid;
    border-color: white;
    font-weight: bold;
    color:white
}

.tableCell {
    border: 1px solid;
    border-color: white;
    color: black;
    vertical-align: middle;
}

.greyBackground {
    background-color: #f7f7f7;
}
.ownPlacement {
    font-weight:bold;
}