<ion-app>
  <ion-menu  menu-id="sideMenu" side="start" menuId="first" contentId="sideMenu">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title color="light">PedShare</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-menu-toggle auto-hide="true">
          <ion-list *ngFor="let pages of sideMenuContent">
            <ion-item [routerLink]="pages.url" routerDirection="forward">
                <ion-icon color="primary" [name]="pages.icon" slot="start"></ion-icon>
                    {{pages.title}} 
            </ion-item>
          </ion-list>
          <ion-item button (click)="logoutUser()">
              <ion-icon color="primary" name="log-out" slot="start"></ion-icon>
                  Ausloggen
          </ion-item>
    
        
        </ion-menu-toggle>
      </ion-content>

      <ion-footer class="ion-no-border">
        <ion-toolbar>
        <div style="text-align: center;">
            <img src="/assets/icon/SMRGLogo.jpg" width="40%" />
        </div>
        <div style="text-align: center; margin-top: 10px; font-size: small; margin-bottom: 10px;"><ion-label color="medium">PedShare v3.0.0</ion-label></div>
        </ion-toolbar>
      </ion-footer>
     
  </ion-menu>
  <ion-router-outlet  id="sideMenu"></ion-router-outlet>
</ion-app>
