<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button color="light"></ion-menu-button>
      </ion-buttons>
      <ion-title color="light">
        PedShare
      </ion-title>

      <ion-buttons [hidden]=true slot="primary">
        <ion-button (click) ="openBookings()">
          <ion-icon color="primary" slot="icon-only" name ="bicycle" large></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<app-offline-banner></app-offline-banner>
<ion-content >
  <div id = mapElement #mapElement class="map"></div>
</ion-content>
<app-trip-notification [activeBooking] = this.activeBooking></app-trip-notification>