<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="survey" (click)="dismissModal()"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">
      An Umfrage teilnehmen
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{survey.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{survey.introduction}}
    </ion-card-content>
  </ion-card>

  <div *ngFor="let question of survey.questions; let i = index">

    <ion-card>
      <ion-card-header class="question" id="{{i}}">
        {{question.text}}
      </ion-card-header>

      <ion-card-content>

        <div *ngIf="question.type === 'rangeQuestion'">
          <ion-item>
            <ion-range [(ngModel)]="submissions[i]" min="{{question.answers[0]}}" max="{{question.answers[1]}}"
              snap="true" pin="true" color="primary">
              <ion-label slot="start">{{question.answers[0]}}</ion-label>
              <ion-label slot="end">{{question.answers[1]}}</ion-label>
            </ion-range>
          </ion-item>
        </div>

        <div *ngIf="question.type === 'selectQuestion'">
          <ion-item>
            <ion-select placeholder="- Antwort auswählen -" [(ngModel)]="submissions[i]">
              <ion-select-option *ngFor="let answer of question.answers" value="{{answer}}">{{answer}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </div>

        <div *ngIf="question.type === 'freeText'">
          <ion-item>
            <ion-input placeholder="Antwort hier eingeben" [(ngModel)]="submissions[i]" type="custom"
              value="0"></ion-input>
          </ion-item>
        </div>
      </ion-card-content>
    </ion-card>
  </div>


  <p class="ion-padding-start ion-padding-end">
    <ion-button expand="block" color="success" (click)="sendSubmission()">Umfrage abschicken</ion-button>
</ion-content>
