<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click) ="closeModal()">
        <ion-icon color="light" slot="icon-only" name ="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="light">Datenschutzerklärung</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>

    <ion-card-content>

      <h2><strong>Kurzfassung der Datenschutzerklärung</strong></h2>
      <ul>
        <li>Während der Fahrt werden alle 10 Sekunden GPS-Daten der elektronischen Schlössern an unseren Server gesendet und unabhängig von Ihrem Nutzerprofil gespeichert.</li>
        <li>Informationen, die Sie in Ihrem Profil angeben haben (z.B. E-Mail Adresse und Spitzname) werden durch das System gespeichert.</li>
        <li>Ihre getätigten Buchungen sowie deren Historie werden erfasst und gespeichert.</li>
        <li>Ihre Daten werden vertrauensvoll behandelt und nicht an Dritte weitergegeben.</li>
        <li>Sie haben zu jedem Zeitpunkt die Möglichkeit, Ihre Daten anzupassen oder von uns eine Löschung Ihres Profils zu verlangen.</li>
    </ul>
    <br>
    <h2><strong>Datenschutzerkl&auml;rung des Lehrstuhls f&uuml;r Informationsmanagement der Georg-August-Universit&auml;t G&ouml;ttingen im Rahmen des PedShare Projektes</strong></h2>
    <br>
    <h2><strong>I.&nbsp; Name und Anschrift des Verantwortlichen</strong></h2>
    <br>
    <p>Der Verantwortliche im Sinne der Datenschutz-Grundverordnung und anderer nationaler Datenschutzgesetze der Mitgliedsstaaten sowie sonstiger datenschutzrechtlicher Bestimmungen ist die:</p>
    <p>&nbsp;</p>
    <p>Universit&auml;t G&ouml;ttingen</p>
    <p>Professur f&uuml;r Informationsmanagement</p>
    <p>Platz der G&ouml;ttinger Sieben 5</p>
    <p>37073 G&ouml;ttingen</p>
    <p>Deutschland</p>
    <p>Tel.: +49 (0)551 / 39-24440</p>
    <p>E-Mail: lkolbe@uni-goettingen.de</p>
    <p>Projekt-Website: https://pedshare.uni-goettingen.de/</p>
    <br>
    <h2><strong>II.&nbsp;Allgemeine Informationen </strong></h2>
    <br>
    <h3><strong>1.&nbsp;Umfang der Verarbeitung personenbezogener Daten</strong></h3>
    <br>
    <p>Wir verarbeiten personenbezogene Daten unserer Nutzer grunds&auml;tzlich nur, soweit dies zur Bereitstellung einer funktionsf&auml;higen Anwendung sowie unserer Inhalte und Leistungen erforderlich ist. Die Verarbeitung personenbezogener Daten unserer Nutzer erfolgt nur nach Einwilligung des Nutzers. Diese erfolgt nach erstmaliger Registrierung der Nutzer in der PedShare App.</p>
    <p>Personenbezogene Daten sind alle Daten, die auf Sie pers&ouml;nlich beziehbar sind, wie beispielsweise Ihr Name, Ihre E-Mail-Adresse oder Ihre IP-Adresse.</p>
    <p>Diese personenbezogenen&nbsp;&nbsp; Daten werden&nbsp;&nbsp; von&nbsp;&nbsp; uns&nbsp;&nbsp; nur&nbsp;&nbsp; gem&auml;&szlig;&nbsp;&nbsp; den Bestimmungen der EU-Datenschutzgrundverordnung (DSGVO) sowie anderer Bestimmungen des europ&auml;ischen sowie des jeweils anwendbaren nationalen Datenschutzrechtserhoben und verarbeitet. Die Erhebung und Verwendung personenbezogener Daten erfolgt nur, nachdem Sie hierzu eingewilligt haben oder die Verarbeitung der Daten durch gesetzliche Vorschriften gestattet ist. Die nachfolgenden Bestimmungen informieren Sie jeweils &uuml;ber Art, Umfang und Zweck der Erhebung und Verarbeitung Ihrer personenbezogenen Daten.</p>
    <br>
    <h3><strong>2.&nbsp;Rechtsgrundlage f&uuml;r die Verarbeitung personenbezogener Daten</strong></h3>
    <br>
    <p>Soweit wir f&uuml;r Verarbeitungsvorg&auml;nge personenbezogener Daten eine Einwilligung der betroffenen Person einholen, dient Art.&nbsp;6 Abs.&nbsp;1 lit.&nbsp;a EU-Datenschutzgrundverordnung (DSGVO) als Rechtsgrundlage.</p>
    <p>Soweit eine Verarbeitung personenbezogener Daten zur Erf&uuml;llung einer rechtlichen Verpflichtung erforderlich ist, der unser Unternehmen unterliegt, dient Art.&nbsp;6 Abs.&nbsp;1 lit.&nbsp;c DSGVO als Rechtsgrundlage.</p>
    <p>F&uuml;r den Fall, dass lebenswichtige Interessen der betroffenen Person oder einer anderen nat&uuml;rlichen Person eine Verarbeitung personenbezogener Daten erforderlich machen, dient Art.&nbsp;6 Abs.&nbsp;1 lit.&nbsp;d DSGVO als Rechtsgrundlage.</p>
    <p>Ist die Verarbeitung zur Wahrung eines berechtigten Interesses unseres Unternehmens oder eines Dritten erforderlich und &uuml;berwiegen die Interessen, Grundrechte und Grundfreiheiten des Betroffenen das erstgenannte Interesse nicht, so dient Art.&nbsp;6 Abs.&nbsp;1 lit.&nbsp;f DSGVO als Rechtsgrundlage f&uuml;r die Verarbeitung.</p>
    <br>
    <h3><strong>3.&nbsp; Datenl&ouml;schung und Speicherdauer</strong></h3>
    <br>
    <p>Die personenbezogenen Daten der Nutzer werden gel&ouml;scht oder gesperrt, sobald der Zweck der Speicherung entf&auml;llt. Dieser Zeitpunkt trifft mit Ablauf des Projektes PedShare ein.</p>
    <br>
    <h2><strong>III.&nbsp;Personenbezogene Daten innerhalb der PedShare App f&uuml;r Android und iOS</strong></h2>
    <br>
    <h3><strong>1.&nbsp;Beschreibung und Umfang der Datenverarbeitung</strong></h3>
    <p>Bei jeder Nutzung unserer Anwendung erfasst unser System automatisiert Daten und Informationen vom Endger&auml;t des Nutzers sowie den smarten GPS-Schl&ouml;ssern. Folgende Daten werden hierbei erhoben:</p>
    <br>
    <h4><strong>a)&nbsp;Registrierung</strong></h4>
    <br>
    <p>Zur Nutzung der Plattform ist eine Registrierung mittels einer privaten oder firmeneigenen E-Mail Adresse erforderlich. Bei Angabe einer privaten E-Mail Adresse, wird der Mobility Manager des jeweiligen Unternehmens automatisiert via E-Mail um eine Autorisierung der Nutzung gebeten.</p>
    <p>Der Nutzer gibt bei der Registrierung einen selbstgew&auml;hlten Nicknamen an, der zur Identifikation einzelner Profile innerhalb der Plattform dient.</p>
    <p>Zum Empfangen von Benachrichtigungen (z.B. Erinnerung an Beginn einer Buchung), wird vom System eine Identifikationsnummer f&uuml;r jedes Endger&auml;t angelegt.</p>
    <br>
    <h4><strong>b)&nbsp;Buchung</strong></h4>
    <br>
    <p>Alle Buchungen eines Nutzers werden mit Startzeit, Endzeit, Startstation, Endstation und dem gew&auml;hlten Fahrrad erfasst.</p>
    <br>
    <h4><strong>c)&nbsp;Fahrt</strong></h4>
    <br>
    <p>Eine aktive Buchung berechtigt einen Nutzer Fahrten mit einem E-Bike der PedShare-Flotte zu unternehmen. Eine Fahrt startet mit &Ouml;ffnen und endet mit Verriegeln des smarten Schlosses &uuml;ber die App. Der genaue Start- und Endzeitpunkt einer Fahrt wird erfasst. W&auml;hrend der Fahrt &uuml;bertr&auml;gt das smarte Schloss im Abstand von 10 Sekunden die aktuelle Position an die Plattform und speichert diese unabhängig vom Nutzungsprofil. Auf dieser Basis werden Durchschnittsgeschwindigkeit, Fahrtdauer, Fahrstrecke und CO2-Ersparnis ermittelt. Au&szlig;erdem k&ouml;nnen die Daten verwendet werden, um Missbrauchs- oder Diebstahlszenarien aufzukl&auml;ren. Sollte das Fahrrad dar&uuml;ber hinaus einen Diebstahlversuch erkennen, werden die Daten unabh&auml;ngig von Nutzung und Fahrt an die Plattform &uuml;bertragen.</p>
    <br>
    <h4><strong>d)&nbsp; Ranking und Gamification</strong></h4>
    <br>
    <p>Entscheidet sich ein Nutzer f&uuml;r die aktive Teilnahme am unternehmensweiten Ranking, wird die absolute CO2-Ersparniss ermittelt und vom System gespeichert. Die erfolgreichsten Nutzer werden mit Nicknamen und CO2-Ersparniss im Ranking angezeigt, welches f&uuml;r alle Nutzer innerhalb eines Unternehmens sichtbar ist.</p>
    <br>
    <h3><strong>2.&nbsp;Rechtsgrundlage f&uuml;r die Datenverarbeitung</strong></h3>
    <br>
    <p>Rechtsgrundlage f&uuml;r die vor&uuml;bergehende Speicherung der Daten ist Art. 6 Abs. 1 lit. f DSGVO.</p>
    <br>
    <h3><strong>3.&nbsp;Zweck der Datenverarbeitung</strong></h3>
    <br>
    <p>Die vor&uuml;bergehende Speicherung der oben genannten Daten ist notwendig, um eine Auslieferung der Anwendung an das Endger&auml;t des Nutzers und somit ein fehlerfreies Nutzen der App zu erm&ouml;glichen. Die gespeicherten Daten werden zum Zwecke projektbezogener Forschung und Auswertungen genutzt und werden nicht an Dritte weitergegeben.</p>
    <p>In diesen Zwecken liegt auch unser berechtigtes Interesse an der Datenverarbeitung nach Art.&nbsp;6 Abs.&nbsp;1 lit.&nbsp;f DSGVO.</p>
    <br>
    <h3><strong>4.&nbsp;Dauer der Speicherung</strong></h3>
    <br>
    <p>Die Daten werden gel&ouml;scht, sobald sie f&uuml;r unsere Aufzeichnungszwecke nicht mehr ben&ouml;tigt werden. Mit Ende des Projektes PedShare am 31.12.2021 werden s&auml;mtliche personenbezogene Daten der Nutzer gel&ouml;scht.</p>
    <br>
    <h3><strong>5.&nbsp;Widerspruchs- und Beseitigungsm&ouml;glichkeit</strong></h3>
    <br>
    <p>Die Erfassung der Daten zur Bereitstellung der Anwendung und die Speicherung der Daten ist f&uuml;r den Betrieb der Anwendung zwingend erforderlich. Es besteht folglich seitens des Nutzers keine Widerspruchsm&ouml;glichkeit.</p>
    <br>
    <h2><strong>IV.&nbsp;Personenbezogene Daten durch Nutzung von Diensten Dritter</strong></h2>
    <br>
    <h3><strong>1.&nbsp;Umfang der Verarbeitung personenbezogener Daten</strong></h3>
    <br>
    <p>Diese Art von Diensten haben den Zweck, Daten und Dateien zu hosten, damit diese Anwendung verwaltet und verwendet werden kann. Die Angebote dieser Dienste k&ouml;nnen eine vorgefertigte Infrastruktur zur Verf&uuml;gung stellen, die spezifische Funktionen oder ganze Bestandteile f&uuml;r diese App abwickelt. Einige dieser Dienste arbeiten mit geografisch verteilten Servern, so dass es schwierig ist, den Ort zu bestimmen, an dem die personenbezogenen Daten gespeichert sind.</p>

    <p>Wir nutzen innerhalb unserer Anwendung die Anwendungsprogrammierschnittstelle von Google Maps sowie Google Firebase Cloud Functions und Google Firebase Cloud Firestore des Unternehmens Google LLC (1600 Amphitheatre Parkway,&nbsp; Mountain&nbsp; View,&nbsp; CA&nbsp; 94043, USA)</p>

    <p>Die API von Google Maps erm&ouml;glicht es uns z.B. interaktive Karten in der App anzuzeigen und ist somit f&uuml;r die Funktionsf&auml;higkeit und vollst&auml;ndige Bereitstellung unserer Inhalte unerl&auml;sslich. Die Datenschutzerkl&auml;rung von Google finden Sie unter <a href="https://www.google.com/help/terms_maps.html">https://www.google.com/help/terms_maps.html</a>.</p>

    <p>Google Firebase nutzt f&uuml;r seine Dienste nach M&ouml;glichkeit Server mit Standort im Europ&auml;ischen Wirtschaftsraum. Es ist aber nicht auszuschlie&szlig;en, dass Daten auch in die USA &uuml;bertragen werden. Google hat sich hierzu dem EU-US-Privacy-Shield unterworfen (<a href="https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&amp;status=Active">https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&amp;status=Active</a> ). Eine ausf&uuml;hrliche Datenschutzerkl&auml;rung f&uuml;r alle Firebase-Dienste finden Sie unter: <a href="https://firebase.google.com/support/privacy">https://firebase.google.com/support/privacy</a>.</p>

    <p>Cloud Functions for Firebase ist ein Backend Dienst, bereitgestellt von Google Inc. Zum Bereitstellen der Plattform, werden die in Abschnitt II beschriebenen personenbezogene Daten mit Hilfe des Dienstes verarbeitet.</p>

    <p>Cloud Firestore ist eine Datenbank, bereitgestellt von Google Inc. Zum Bereitstellen der Plattform, werden die in Abschnitt II beschriebenen personenbezogene Daten mit Hilfe des Dienstes gespeichert. &nbsp;</p>
    <br>
    <h3><strong>2.&nbsp;Rechtsgrundlage f&uuml;r die Verarbeitung personenbezogener Daten</strong></h3>
    <br>
    <p>Rechtsgrundlage f&uuml;r die Verarbeitung der personenbezogenen Daten der Nutzer ist Art.&nbsp;6 Abs.&nbsp;1 lit. f DSGVO.</p>
    <br>
    <h3><strong>3.&nbsp;Zweck der Datenverarbeitung</strong></h3>
    <br>
    <p>Die vor&uuml;bergehende Speicherung der oben genannten Daten ist notwendig, um eine Auslieferung der Anwendung an das Endger&auml;t des Nutzers und somit ein fehlerfreies Nutzen der App zu erm&ouml;glichen. Die gespeicherten Daten werden zum Zwecke projektbezogener Forschung und Auswertungen genutzt und werden nicht an Dritte weitergegeben.</p>
    <p>In diesen Zwecken liegt auch unser berechtigtes Interesse an der Datenverarbeitung nach Art. 6 Abs. 1 lit. f DSGVO.</p>
    <br>
    <h3><strong>4.&nbsp;Dauer der Speicherung</strong></h3>
    <br>
    <p>Die Daten werden gel&ouml;scht, sobald sie f&uuml;r unsere Aufzeichnungszwecke nicht mehr ben&ouml;tigt werden. Mit Ende des Projektes PedShare am 31.12.2021 werden s&auml;mtliche personenbezogene Daten der Nutzer gel&ouml;scht.</p>
    <br>
    <h3><strong>5.&nbsp;Widerspruchs- und Beseitigungsm&ouml;glichkeit</strong></h3>
    <br>
    <p>Die durch die Einbindung von Drittanbietern verwendeten Cookies werden auf dem Endger&auml;t des Nutzers gespeichert und von diesem an eingebundene Drittanbieter &uuml;bermittelt. Daher haben Sie als Nutzer auch die volle Kontrolle &uuml;ber die Verwendung von Cookies. Durch eine &Auml;nderung der Einstellungen in Ihrem Internetbrowser k&ouml;nnen Sie die &Uuml;bertragung von Cookies deaktivieren oder einschr&auml;nken. Bereits gespeicherte Cookies k&ouml;nnen jederzeit gel&ouml;scht werden. Dies kann auch automatisiert erfolgen. Werden Cookies f&uuml;r unsere Website deaktiviert, k&ouml;nnen m&ouml;glicherweise nicht mehr alle Funktionen der Website vollumf&auml;nglich</p>
    <br>
    <h2><strong>V.&nbsp;Rechte der betroffenen Person</strong></h2>
    <br>
    <p>Werden personenbezogene Daten von Ihnen verarbeitet, sind Sie Betroffener i.S.d. DSGVO und es stehen Ihnen folgende Rechte gegen&uuml;ber dem Verantwortlichen zu:</p>
    <br>
    <h3><strong>1.&nbsp;Auskunfts- und Widerrufsrecht</strong></h3>
    <br>

    <p>Sie k&ouml;nnen von dem Verantwortlichen eine Best&auml;tigung dar&uuml;ber verlangen, ob personenbezogene Daten, die Sie betreffen, von uns verarbeitet werden.</p>
    <p>Liegt eine solche Verarbeitung vor, k&ouml;nnen Sie von dem Verantwortlichen &uuml;ber folgende Informationen Auskunft verlangen:</p>
    <br>
    <p>(1)&nbsp;die Zwecke, zu denen die personenbezogenen Daten verarbeitet werden;</p>
    <br>
    <p>(2)&nbsp;die Kategorien von personenbezogenen Daten, welche verarbeitet werden;</p>
    <br>
    <p>(3)&nbsp;die Empf&auml;nger bzw. die Kategorien von Empf&auml;ngern, gegen&uuml;ber denen die Sie betreffenden personenbezogenen Daten offengelegt wurden;</p>
    <br>
    <p>(4)&nbsp;die geplante Dauer der Speicherung der Sie betreffenden personenbezogenen Daten oder, falls konkrete Angaben hierzu nicht m&ouml;glich sind, Kriterien f&uuml;r die Festlegung der Speicherdauer;</p>
    <br>
    <p>(5)&nbsp;das Bestehen eines Rechts auf Berichtigung oder L&ouml;schung der Sie betreffenden personenbezogenen Daten, eines Rechts auf Einschr&auml;nkung der Verarbeitung durch den Verantwortlichen oder eines Widerspruchsrechts gegen diese Verarbeitung;</p>
    <br>

    <p>Ihnen steht das Recht zu, Auskunft dar&uuml;ber zu verlangen, ob die Sie betreffenden personenbezogenen Daten in ein Drittland oder an eine internationale Organisation &uuml;bermittelt werden. In diesem Zusammenhang k&ouml;nnen Sie verlangen, &uuml;ber die geeigneten Garantien gem. Art.&nbsp;46 DSGVO im Zusammenhang mit der &Uuml;bermittlung unterrichtet zu werden.</p>
    <p>Wenn Sie eine Einwilligung zur Nutzung von Daten erteilt haben, k&ouml;nnen Sie diese jederzeit ohne Angaben von Gr&uuml;nden mit Wirkung f&uuml;r die Zukunft widerrufen. &nbsp;</p>
    <br>
    <h3><strong>2.&nbsp; Recht auf Berichtigung</strong></h3>
    <br>
    <p>Sollten Ihre bei uns gespeicherten Daten nicht richtig oder unvollst&auml;ndig sein, k&ouml;nnen Sie diese jederzeit in Ihrem Kundenaccount korrigieren bzw. vervollst&auml;ndigen oder durch uns korrigieren bzw. vervollst&auml;ndigen lassen.</p>
    <br>
    <h3><strong>3.&nbsp;Recht auf L&ouml;schung</strong></h3>
    <br>
    <h4><strong>a)&nbsp;L&ouml;schungspflicht</strong></h4>
    <br>
    <p>Sie haben das Recht von uns zu verlangen, dass die Sie betreffenden personenbezogenen Daten unverz&uuml;glich gel&ouml;scht werden. Wir sind verpflichtet, diese Daten unverz&uuml;glich zu l&ouml;schen, sofern einer der folgenden Gr&uuml;nde zutrifft:</p>
    <br>   
    <p>(1)&nbsp;Die Sie betreffenden personenbezogenen Daten sind f&uuml;r die Zwecke, f&uuml;r die sie erhoben oder auf sonstige Weise verarbeitet wurden, nicht mehr notwendig.</p>
    <br>
    <p>(2)&nbsp;Sie widerrufen Ihre Einwilligung, auf die sich die Verarbeitung gem. Art.&nbsp;6 Abs.&nbsp;1 lit.&nbsp;a oder Art.&nbsp;9 Abs.&nbsp;2 lit.&nbsp;a DSGVO st&uuml;tzte, und es fehlt an einer anderweitigen Rechtsgrundlage f&uuml;r die Verarbeitung.</p>
    <br>
    <p>(3)&nbsp;Sie legen gem. Art.&nbsp;21 Abs.&nbsp;1 DSGVO Widerspruch gegen die Verarbeitung ein und es liegen keine vorrangigen berechtigten Gr&uuml;nde f&uuml;r die Verarbeitung vor, oder Sie legen gem. Art.&nbsp;21 Abs.&nbsp;2 DSGVO Widerspruch gegen die Verarbeitung ein.</p>
    <br>
    <p>(4)&nbsp;Die Sie betreffenden personenbezogenen Daten wurden unrechtm&auml;&szlig;ig verarbeitet.</p>
    <br>
    <p>(5)&nbsp; Die L&ouml;schung der Sie betreffenden personenbezogenen Daten ist zur Erf&uuml;llung einer rechtlichen Verpflichtung nach dem Unionsrecht oder dem Recht der Mitgliedstaaten erforderlich, dem der Verantwortliche unterliegt.</p>
    <br>
    <p>(6)&nbsp;Die Sie betreffenden personenbezogenen Daten wurden in Bezug auf angebotene Dienste der Informationsgesellschaft gem&auml;&szlig; Art.&nbsp;8 Abs.&nbsp;1 DSGVO erhoben.</p>
    <br>
    <h4><strong>b)&nbsp; Information an Dritte</strong></h4>
    <br>
    <p>Haben wir die Sie betreffenden personenbezogenen Daten an Dritte weitergegeben oder wurden Sie durch Nutzung von Diensten Dritter an solche weitergegeben, sind wir gem. Art.&nbsp;17 Abs.&nbsp;1 DSGVO zu deren L&ouml;schung verpflichtet, so treffen wir unter Ber&uuml;cksichtigung der verf&uuml;gbaren Technologie und der Implementierungskosten angemessene Ma&szlig;nahmen, auch technischer Art, um f&uuml;r die Datenverarbeitung Verantwortliche, die die personenbezogenen Daten verarbeiten, dar&uuml;ber zu informieren, dass Sie als betroffene Person von ihnen die L&ouml;schung aller Links zu diesen personenbezogenen Daten oder von Kopien oder Replikationen dieser personenbezogenen Daten verlangt haben.</p>
    <br>
    <h4><strong>c)&nbsp; Ausnahmen</strong></h4>
    <br>
    <p>Das Recht auf L&ouml;schung besteht nicht, soweit die Verarbeitung erforderlich ist</p>
    <br>
    <p>(1)&nbsp;zur Aus&uuml;bung des Rechts auf freie Meinungs&auml;u&szlig;erung und Information;</p>
    <br>
    <p>(2)&nbsp;zur Erf&uuml;llung einer rechtlichen Verpflichtung, die die Verarbeitung nach dem Recht der Union oder der Mitgliedstaaten, dem der Verantwortliche unterliegt, erfordert, oder zur Wahrnehmung einer Aufgabe, die im &ouml;ffentlichen Interesse liegt oder in Aus&uuml;bung &ouml;ffentlicher Gewalt erfolgt, die dem Verantwortlichen &uuml;bertragen wurde;</p>
    <br>
    <p>(3)&nbsp;aus Gr&uuml;nden des &ouml;ffentlichen Interesses im Bereich der &ouml;ffentlichen Gesundheit gem&auml;&szlig; Art.&nbsp;9 Abs.&nbsp;2 lit.&nbsp;h und i sowie Art.&nbsp;9 Abs.&nbsp;3 DSGVO;</p>
    <br>
    <p>(4)&nbsp;f&uuml;r im &ouml;ffentlichen Interesse liegende Archivzwecke, wissenschaftliche oder historische Forschungszwecke oder f&uuml;r statistische Zwecke gem. Art.&nbsp;89 Abs.&nbsp;1 DSGVO, soweit das unter Abschnitt a) genannte Recht voraussichtlich die Verwirklichung der Ziele dieser Verarbeitung unm&ouml;glich macht oder ernsthaft beeintr&auml;chtigt, oder</p>
    <br>
    <p>(5)&nbsp;zur Geltendmachung, Aus&uuml;bung oder Verteidigung von Rechtsanspr&uuml;chen.</p>
    <br>
    <h3><strong>4.&nbsp;Recht auf Unterrichtung</strong></h3>
    <br>
    <p>Haben Sie das Recht auf Berichtigung, L&ouml;schung oder Einschr&auml;nkung der Verarbeitung uns gegen&uuml;ber geltend gemacht, sind wir dazu verpflichtet, allen Empf&auml;ngern, denen die Sie betreffenden personenbezogenen Daten offengelegt wurden, diese Berichtigung oder L&ouml;schung der Daten oder Einschr&auml;nkung der Verarbeitung mitzuteilen, es sei denn, dies erweist sich als unm&ouml;glich oder ist mit einem unverh&auml;ltnism&auml;&szlig;igen Aufwand verbunden.</p>
    <p>Ihnen steht uns gegen&uuml;ber das Recht zu, &uuml;ber diese Empf&auml;nger unterrichtet zu werden.</p>
    <br>
    <h3><strong>5.&nbsp;Recht auf Daten&uuml;bertragbarkeit</strong></h3>
    <br>
    <p>Sie haben das Recht, die Sie betreffenden personenbezogenen Daten von uns in einem strukturierten, g&auml;ngigen und maschinenlesbaren Format zu erhalten. Au&szlig;erdem haben Sie das Recht diese Daten einem anderen Verantwortlichen ohne Behinderung unsererseits zu &uuml;bermitteln, sofern</p>
    <br>
    <p>(1)&nbsp;die Verarbeitung auf einer Einwilligung gem. Art.&nbsp;6 Abs.&nbsp;1 lit.&nbsp;a DSGVO oder Art.&nbsp;9 Abs.&nbsp;2 lit.&nbsp;a DSGVO oder auf einem Vertrag gem. Art.&nbsp;6 Abs.&nbsp;1 lit.&nbsp;b DSGVO beruht und</p>
    <br>
    <p>(2)&nbsp;die Verarbeitung mithilfe automatisierter Verfahren erfolgt.</p>
    <br>
    <p>In Aus&uuml;bung dieses Rechts haben Sie ferner das Recht, zu erwirken, dass die Sie betreffenden personenbezogenen Daten direkt an von Ihnen gew&auml;hlte Dritte &uuml;bermittelt werden, soweit dies technisch machbar ist. Freiheiten und Rechte anderer Personen d&uuml;rfen hierdurch nicht beeintr&auml;chtigt werden. Das Recht auf Daten&uuml;bertragbarkeit gilt nicht f&uuml;r eine Verarbeitung personenbezogener Daten, die f&uuml;r die Wahrnehmung einer Aufgabe erforderlich ist, die im &ouml;ffentlichen Interesse liegt oder in Aus&uuml;bung &ouml;ffentlicher Gewalt erfolgt, die dem Verantwortlichen &uuml;bertragen wurde.</p>
    <br>
    <h3> <strong>6.&nbsp;Widerspruchsrecht</strong></h3>
    <br>
    <p>Sie haben das Recht, jederzeit und ohne Angabe von Gr&uuml;nden gegen die Verarbeitung der Sie betreffenden personenbezogenen Daten, die aufgrund von Art.&nbsp;6 Abs.&nbsp;1 lit.&nbsp;e oder f DSGVO erfolgt, Widerspruch einzulegen.</p>
    <p>Wir verarbeiten die Sie betreffenden personenbezogenen Daten nicht mehr, es sei denn, wir k&ouml;nnen zwingende schutzw&uuml;rdige Gr&uuml;nde f&uuml;r die Verarbeitung nachweisen, die Ihre Interessen, Rechte und Freiheiten &uuml;berwiegen, oder die Verarbeitung dient der Geltendmachung, Aus&uuml;bung oder Verteidigung von Rechtsanspr&uuml;chen.</p>
    <p>Zur Geltendmachung Ihrer Rechte k&ouml;nnen Sie sich per E-Mail an <em>pedshare@uni-goettingen.de</em> wenden.</p>
    <p>Sie haben die M&ouml;glichkeit, im Zusammenhang mit der Nutzung von Diensten der Informationsgesellschaft &ndash; ungeachtet der Richtlinie 2002/58/EG &ndash; Ihr Widerspruchsrecht mittels automatisierter Verfahren auszu&uuml;ben, bei denen technische Spezifikationen verwendet werden.</p>
    <br>
    <h3><strong>7.&nbsp;Recht auf Widerruf der datenschutzrechtlichen Einwilligungserkl&auml;rung</strong></h3>
    <br>
    <p>Sie haben das Recht, Ihre datenschutzrechtliche Einwilligungserkl&auml;rung jederzeit zu widerrufen. Durch den Widerruf der Einwilligung wird die Rechtm&auml;&szlig;igkeit der aufgrund der Einwilligung bis zum Widerruf erfolgten Verarbeitung nicht ber&uuml;hrt.</p>
    <br>
    <h3><strong>8.&nbsp;Recht auf Beschwerde bei einer Aufsichtsbeh&ouml;rde</strong></h3>
    <br>
    <p>Wenn Sie der Ansicht sind, dass die Verarbeitung der Sie betreffenden personenbezogenen Daten gegen die DSGVO verst&ouml;&szlig;t, steht Ihnen das Recht auf Beschwerde bei einer Aufsichtsratsbeh&ouml;rde zu.</p>
    <p>Die Aufsichtsbeh&ouml;rde, bei der die Beschwerde eingereicht wurde, unterrichtet den Beschwerdef&uuml;hrer &uuml;ber den Stand und die Ergebnisse der Beschwerde einschlie&szlig;lich der M&ouml;glichkeit eines gerichtlichen Rechtsbehelfs nach Art.&nbsp;78 DSGVO.</p>
      <ion-row>
        <ion-col>
          <ion-button [hidden]="showCheck" (click)="agreeToDSGVO()" color = primary>Ich stimme zu</ion-button>
        </ion-col>
        <ion-col>
          <ion-button [hidden]="showCheck" (click)="declineDSGVO()" color = primary>Ich stimme nicht zu</ion-button>
        </ion-col>
      </ion-row>
      
    </ion-card-content>
  </ion-card>

</ion-content>

