<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">PedShare</ion-title>
  </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-grid>
   
  <ion-card>
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>
  <ion-card-content>
      <ion-row>
          <ion-col size-xs = 12 size-sm = 6>
    <ion-note>Bitte logge Dich mit Deiner E-Mail Adresse und Deinem Passwort ein.</ion-note>
  <form [formGroup]="loginForm" (ngSubmit)="loginUser()" (keyup.enter) = "loginUser()">
    <ion-item>
      <ion-label position="floating">E-Mail<ion-text color="danger">*</ion-text></ion-label>
      <ion-input required formControlName="email" type="email"></ion-input>
      <div *ngIf="(primEmail.invalid && primEmail.touched) || primEmail.dirty">
        <!--question mark(?) is a safe navigation operator-->
        <small *ngIf="primEmail.errors?.pattern" class="text-danger">Gib bitte eine valide E-Mail-Adresse ein.</small>
      </div>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Passwort <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required formControlName="password" type="password"></ion-input>
      
    </ion-item>
    <ion-button block expand = block color="primary" type="submit" [disabled]="loginForm.invalid" style="margin-top: 20px;">
      Login
    </ion-button>
  </form>
  </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size-xs = 12 size-sm = 6>
      <ion-button expand="block"  color = "primary" style="margin-bottom: 20px;" [routerLink]="['/register']" routerLinkActive="router-link-active">Registrieren</ion-button>
    </ion-col>
  </ion-row>
  
      <a  [routerLink]="['/reset-password']" style="text-align: center; display: block;" routerLinkActive="router-link-active">Passwort vergessen?</a>
  
  </ion-card-content>
  </ion-card>    
  </ion-grid>
  </ion-content>