<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-title color="light">PedShare</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-slides #slides pager="true" style="height: 100%;">
    <ion-slide>
      <img src="assets/img/map.png" class="slide-image" />
      <h2 class="slide-title">
        Wie kann ich ein Pedelec buchen?
      </h2>
      <p>
        Du kannst die PedShare-Pedelecs für dienstliche und private Zwecke nutzen.
      </p>
      <p>
        Klicke auf der Karte auf die gewünschte Start-Station, um ein Pedelec für die sofortige oder spätere Nutzung zu
        buchen. An rot markierten Stationen sind derzeit keine Pedelecs verfügbar.
      </p>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/lock.png" class="slide-image" />
      <h2 class="slide-title">
        Wie funktioniert das Schloss?
      </h2>
      <p>
        Alle Fahrräder sind mit einem intelligenten Rahmenschloss sowie einer Sicherungskette ausgestattet.
        Sobald Deine Buchung beginnt, kannst Du mit der PedShare-App das Schloss Deines Pedelecs öffnen. </p>
      <p>
        Verschließe Dein Pedelec während eines Zwischenstops und nutze die Sicherungskette, um es an einem festen
        Gegenstand zu sichern.
      </p>
      <p>
        Bei Erschütterungen löst das Schloss einen akustischen Alarm aus. Der Alarm wird automatisch nach 20 Sekunden
        oder durch Öffnen des Schlosses deaktiviert.

      </p>
    </ion-slide>
    <ion-slide>
      <img src="assets/img/power.png" class="slide-image" />
      <h2 class="slide-title">Was muss ich beim Fahren beachten?</h2>
      <p>Während der Fahrt kannst Du die Intensität der elektrischen Unterstützung anpassen. Bei normaler Nutzung kommst Du mit einer Akkuladung etwa 60km weit.
      </p>
      <p>Trage während der Fahrt einen Helm und achte gerade im Stadtverkehr auf eine angepasste Geschwindigkeit.</p>
      <p>Bitte prüfe vor Deiner Fahrt, dass Du im Rahmen Deiner Nutzung der PedShare-Plattform unfallversichert bist.
        Wir als Betreiber der Plattform stellen lediglich sicher, dass die Pedelecs gegen Sachschäden versichert sind.</p>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/bicycle.png" class="slide-image" />
      <h2 class="slide-title">Beenden der Fahrt</h2>
      <p>
        Achte darauf, Deinen Buchungszeitraum nicht zu überziehen und Dein Pedelec an der gewählten Zielstation zu
        parken. Schließe Dein Pedelec außerdem immer zum Laden an, damit es für die nächste Buchung einsatzbereit
        ist.
      </p>

      <p> Die Plattform ermittelt mit Hilfe des intelligenten Schlosses, welchen Beitrag Deine Fahrt für die Umwelt geleistet hat. </p>

      <ion-button color="primary" (click)="startApp()">
        Los geht's!
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
      <br><br>
      <br><br>
    </ion-slide>
  </ion-slides>
</ion-content>