#buchung {
    overflow: hidden;
    background-color: green;
    border-radius: 10px;
}
#leerbelegung {
    overflow: hidden;
}
.border {
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-top: 1px solid;
}
.bookingBorder  {
    border-style: solid;
    border-width: thin;
    border-radius: 10px;
    margin-top: 5px;
}
