
    <ion-grid align-items-center>
      <ion-row>
       
          <ion-col>    
            <ion-button color = light round outline (click)= "getDaysPreviousWeek()"><ion-icon name ="arrow-dropleft"></ion-icon></ion-button>
          
  
            <ion-button slot="end" class= "ion-float-right" color = light round outline (click)= "getDaysNextWeek()"><ion-icon name="arrow-dropright"></ion-icon></ion-button>
      </ion-col>

      </ion-row>
      <ion-row>
        <ion-col></ion-col>  
        <ion-col size = 1></ion-col>
      <ion-col size = "2.15" *ngFor="let tag of this.nextSevenDays">
  {{tag | dateFormat: 'DD.MM'}}
      </ion-col> 
      <ion-col></ion-col>  
      </ion-row>
      <ion-row>
   
        <ng-container *ngFor="let spalte of [0,1,2,3,4,5]; let i = index">
 
          <ion-col class="border" *ngIf="i==0;else buchungen" size = 1>
            <ion-row *ngFor = " let uhrzeit of uhrzeitBeschriftung"> {{uhrzeit}}</ion-row>
          </ion-col>
          <ng-template #buchungen>
            <ion-col  class="border">
              
            <ng-container  *ngFor = "let element of this.bookingsInSelectedWeek[i-1]; let j = index">
                <ion-row *ngIf="element.type == 'booking'; else leer" id = buchung [style.height.%] = "element.duration*0.068444444" tappable (click) = "showSelectedBooking(i-1,j)">
                </ion-row>
                <ng-template #leer>
                  <ion-row id = leerbelegung [style.height.%] = "element.duration*0.068444444"></ion-row>                
                </ng-template>
              </ng-container>
              </ion-col>
            </ng-template>
        </ng-container>
    
      </ion-row>
      <ng-container  *ngIf="this.selectedBooking">
        <div class = "bookingBorder">
        <ion-text>Ihre ausgewählte Buchung am {{this.selectedBooking.booking.startdate | dateFormat: 'DD.MM.YYYY'}}</ion-text>
        <ion-row>
          <ion-col size="4">
            <ion-row>
              <ion-text>Startzeit:</ion-text>
              </ion-row>
              <ion-row>
                <ion-chip outline="true">
                  <ion-icon name="clock" color="primary"></ion-icon>
                  <ion-label>{{this.selectedBooking.booking.startdate | dateFormat: 'DD.MM.YYYY HH:mm'}}</ion-label>
                </ion-chip>  
              </ion-row>
            </ion-col>
            <ion-col size="4">
              <ion-row>
                <ion-text>Endzeit:</ion-text>
              </ion-row>
              <ion-row>
                <ion-chip outline="true">
                  <ion-icon name="alarm" color="primary"></ion-icon>
                  <ion-label>{{this.selectedBooking.booking.enddate | dateFormat: 'DD.MM.YYYY HH:mm'}}</ion-label> 
                </ion-chip>  
              </ion-row>
            </ion-col>
            <ion-col size="4">
              <ion-row>
                <ion-text>Fahrrad:</ion-text>
              </ion-row>
                <ion-row>
                  <ion-chip outline="true">
                    <ion-icon name="bicycle" color="primary"></ion-icon>
                    <ion-label>{{this.selectedBooking.booking.bicycleName}}</ion-label> 
                  </ion-chip>  
                </ion-row>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="4">
                    <ion-row>
                      <ion-text>Abholort:</ion-text>
                    </ion-row>
                    <ion-row>
                      <ion-chip outline="true">
                        <ion-icon name="pin" color="primary"></ion-icon>
                        <ion-label>{{this.selectedBooking.booking.startstationName}}</ion-label>
                      </ion-chip>  
                    </ion-row>
                  </ion-col>
                  <ion-col size="4">
                    <ion-row>
                      <ion-text>Abgabeort:</ion-text>
                    </ion-row>
                    <ion-row>
                      <ion-chip outline="true">
                        <ion-icon name="flag" color="primary"></ion-icon>
                        <ion-label>{{this.selectedBooking.booking.endstationName}} </ion-label>
                      </ion-chip>  
                    </ion-row>
                  </ion-col>
                </ion-row>
              </div>
              </ng-container>
            </ion-grid>
      
      
      