<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="admin" (click)="dismissModal()"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Nutzer Kontaktieren</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="user">
    <ion-card-header>
      <ion-card-subtitle>{{company}}</ion-card-subtitle>
      <ion-card-title>{{user.name}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <h2>{{user.id}}</h2>
      <h2>{{user.email}}</h2>
      <ion-button class="ion-margin-top" expand="block" color="success" (click)="mailUser(user.email)">E-Mail senden</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

