<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">PedShare</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Registrieren</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-note>Dein Unternehmen muss am PedShare Projekt teilnehmen, damit Du Dich registrieren kannst. Nutze hierfür bevorzugt Deine dienstliche E-Mail Adresse.</ion-note>
      <form [formGroup]="registerForm" (ngSubmit)="registerUser()" (keyup.enter) = "registerUser()">
        <ion-item>
          <ion-label position="floating">E-Mail<ion-text color="danger">*</ion-text></ion-label>
          <ion-input required formControlName="email" (ionChange)="preselectCompany()" type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Unternehmen</ion-label>
          <ion-select required formControlName="company" placeholder="Wähle ein Unternehmen aus">
            <ion-select-option value="{{company.name}}" *ngFor="let company of companies">{{company.name}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Nutzername (öffentlich für Kollegen)<ion-text color="danger"></ion-text></ion-label>
          <ion-input required formControlName="name" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Passwort <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required formControlName="password" type="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Passwort wiederholen <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required formControlName="passwordConfirm" type="password"></ion-input>
        </ion-item>
        <ion-item>
         <ion-checkbox required formControlName="dataPolicyConfirm" color="primary"></ion-checkbox>
        <ion-label class="ion-text-wrap" style="font-size:14px">Ich habe die <a (click)="openModal()"><u>Datenschutzbedingungen</u></a> gelesen und stimme diesen zu.</ion-label>
        </ion-item>

        <ion-button style="margin-top: 10px; margin-bottom: 20px;" expand="block" color="primary" (click)="registerUser()" [disabled]="registerForm.invalid">
          Registrieren
        </ion-button>
      </form>
      <a [routerLink]="['/login']" style="text-align: center; display: block;" routerLinkActive="router-link-active" >Bereits einen Account? Hier einloggen!</a>
    </ion-card-content>
  </ion-card>
</ion-content>  
