<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">PedShare</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-card>
  <ion-card-header>
    <ion-card-title>Passwort zurücksetzen</ion-card-title>
  </ion-card-header>
  <ion-card-content>
      <form [formGroup]="passwordResetForm" (ngSubmit)="resetPassword()" (keyup.enter) = "resetPassword()">
          <ion-item>
            <ion-label position="floating">Deine E-Mail Adresse<ion-text color="danger">*</ion-text></ion-label>
            <ion-input required formControlName="email" type="email"></ion-input>
          </ion-item>
          <ion-row style="margin-top: 10px;">
            <ion-col>
            <ion-button  routerLink="/login" expand="block" color="primary" type="submit" [disabled]="passwordResetForm.invalid">
              Neues Password anfordern
            </ion-button>
            </ion-col>
          </ion-row>
         
         
          
        </form>
  </ion-card-content>
</ion-card>
</ion-content>