<!--Header-->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="bookings" (click)="dismissModal()"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Buchung anpassen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="ion-text-center">Startstation</ion-card-subtitle>
      <ion-card-title class="ion-text-center">{{ booking.startstationName }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Endstation</ion-label>
        <ion-select [(ngModel)]="endStation" (ngModelChange)="updatePossible()">
          <ion-select-option *ngFor="let station of allStations" [value]="station">{{station.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Start</ion-label>
        <ion-datetime displayFormat="DD.MM.YYYY HH:mm" [(ngModel)]="startTime" [min]="now" [max]="inOneYear" minuteValues="0,15,30,45"
          hourValues="7,8,9,10,11,12,13,14,15,16,17,18,19" (ngModelChange)="autoSetDropOffTime(); updatePossible()"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>Buchen bis</ion-label>
        <ion-datetime displayFormat="DD.MM.YYYY HH:mm" [(ngModel)]="endTime"
          minuteValues="0,15,30,45" hourValues="7,8,9,10,11,12,13,14,15,16,17,18,19" [min]="startTime" [max]="inOneYear" (ngModelChange)="updatePossible()"></ion-datetime>
      </ion-item>

      <ion-item class="ion-margin-top" *ngIf="showConnectionError">
        <ion-label class="ion-text-wrap">Leider ist beim Abruf ein Fehler aufgetreten. Probiere es später noch einmal.</ion-label>
      </ion-item>

      <!--Dynamische Anzeige ob Buchung anpassbar ist-->
      <ion-item *ngIf="isBikeAvailable">
        <ion-label class="ion-text-wrap"> <ion-icon class="ion-margin-end" name="checkmark-outline"> </ion-icon>Die Änderung ist möglich.</ion-label>
      </ion-item>
      
      <ion-item *ngIf="!isBikeAvailable">
        <ion-label class="ion-text-wrap"><ion-icon class="ion-margin-end" name="close-outline"> </ion-icon>Änderung ist nicht möglich, versuche eine andere Zeit auszuwählen.</ion-label>
      </ion-item>

      <ion-button  [hidden]="!isBikeAvailable" (click)="updateBooking()" fill="outline" expand="block">Anpassung speichern</ion-button>

    </ion-card-content>
  </ion-card>
</ion-content>