<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">
      Info
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Smart Mobility Research Group</ion-card-subtitle>
    <ion-card-title>PedShare Projekt</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    PedShare ist die Sharing-Plattform Deines Unternehmens, die Dir die Möglichkeit bietet, Deine Dienst- und Privatfahrten umweltschonend zu tätigen. Ein elektrounterstütztes Fahrrad tut nicht nur Dir, sondern auch der Natur etwas Gutes.
  </ion-card-content>

  <ion-card-content>
    <div style="text-align: center;">
      <img src="/assets/icon/SupportLogo.png" width="100%" />
  </div>
  </ion-card-content>

  <ion-card-content>
    <ion-button expand="block" color="success" (click)="openPedShareWebsite()">Mehr Informationen zum Projekt</ion-button> 
  </ion-card-content>
</ion-card>
  
<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Technischer Ansprechpartner App</ion-card-subtitle>
    <ion-card-title>Christoph Prinz</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Sollten es zu technischen Problemen während der Nutzung kommen, kannst Du Kontakt zu den Entwicklern aufnehmen. In Deine Anfrage werden automatisch Metadaten integriert, die uns bei der Lösung des Problems unterstützen.     
  </ion-card-content>
  <ion-card-content>
    <ion-button expand="block" color="danger" (click)="mailSupport()">Support kontaktieren</ion-button> 
  </ion-card-content>
</ion-card>
</ion-content>
