<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">Profil</ion-title>
  </ion-toolbar>
</ion-header>
<app-offline-banner class ="ion-padding-bottom"></app-offline-banner>
<ion-content *ngIf = "this.user">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content> </ion-refresher-content>
  </ion-refresher>
  <div>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Persönliche Einstellungen</ion-card-title>
      </ion-card-header>
      <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label position="floating">E-Mail</ion-label>
          <ion-input disabled [(ngModel)]="user.email"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label position="floating">Nutzername</ion-label>
          <ion-input (ionBlur)="this.changeUsername(this.user.name)" [(ngModel)]="user.name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label> Am Ranking teilnehmen</ion-label>
          <ion-toggle [(ngModel)]="user.enableRanking" (click) = "this.changeRankingSetting(!this.user.enableRanking)"></ion-toggle>
        </ion-item>
      </ion-list>

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button expand="block" color = primary (click)= "presentChangePasswordAlert()">Passwort ändern</ion-button>
        </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button expand="block" color = danger (click)="presentDeleteAccountAlert()">Account löschen</ion-button>
        </ion-col>
        </ion-row>
      </ion-grid>

      </ion-card-content>
    </ion-card>
   
      <!-- Datenschutzerklärung-->
      <ion-card>
        <ion-card-header>
          <ion-card-title>Hilfe</ion-card-title>
        </ion-card-header>
        <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
           <ion-button expand="block" (click)="openTutorial()" color = primary>Erste Schritte anzeigen</ion-button>
          </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
           <ion-button expand="block" (click)="openDataProtectionDeclaration()" color = primary>Datenschutzerklärung anzeigen</ion-button>
          </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
      </ion-card>

    </div>
    <div *ngIf=!this.user>
      Konnte keine Daten laden
    </div>
  </ion-content>