<ion-card *ngIf="!hideUnlockScreen" [hidden]="hideUnlockScreen">
  <ion-card-header>
    <ion-card-title *ngIf="minutesTillNextBooking > 0">
      Deine nächste Buchung beginnt in {{minutesTillNextBooking}} Minuten.
    </ion-card-title>
    <ion-card-title *ngIf="minutesTillNextBooking <= 0">Deine Buchung hat begonnen.</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-row>
      <ion-chip>
        <ion-icon name="bicycle-outline" color="primary"></ion-icon>
        <ion-badge color="primary">{{activeBooking.bicyclePedshareId}}</ion-badge>
        <ion-label class="ion-padding-start">{{activeBooking.bicycleName}}</ion-label>
      </ion-chip>
    </ion-row>
    <ion-row>
      Zum Entsperren des Bikes musst Du in der Nähe sein und Bluetooth aktiviert haben.
    </ion-row>
    <ion-list>
      <ion-row>
        <ion-col>
          <ion-button [disabled]="minutesTillNextBooking > 0" expand="full" (click)="startBooking()">
            <ion-icon name="bluetooth" slot="start" expand="full"></ion-icon> Fahrrad entsperren
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-list>
  </ion-card-content>
</ion-card>
<ion-card *ngIf="!hideActiveBookingScreen && this.activeBooking">
  <ion-card-header>
    <ion-card-title>Aktive Buchung <span [hidden]="!bikelocked">(Fahrrad geparkt)</span></ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-row>
      <ion-chip>
        <ion-icon name="bicycle-outline" color="primary"></ion-icon>
        <ion-badge color="primary">{{activeBooking.bicyclePedshareId}}</ion-badge>
        <ion-label class="ion-padding-start">{{activeBooking.bicycleName}}</ion-label>
      </ion-chip>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-row>
          <ion-text>Abgabestation:</ion-text>
        </ion-row>
        <ion-row>
          <ion-chip outline="true">
            <ion-icon name="flag" color="primary"></ion-icon>
            <ion-label>{{activeBooking.endstationName}}</ion-label>
          </ion-chip>
        </ion-row>
      </ion-col>
      <ion-col size="6">
        <ion-row>
          <ion-text>Restzeit:</ion-text>
        </ion-row>
        <ion-row>
          <ion-chip outline="true">
            <ion-icon name="time" color="primary"></ion-icon>
            <ion-label>{{timeLeft}}</ion-label>
          </ion-chip>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col [hidden]="bikelocked">
        <ion-button color="danger" expand="full" (click)="endBooking()">
          <ion-icon name="exit" slot="start" expand="full"></ion-icon> Verriegeln & Buchung beenden
        </ion-button>
      </ion-col>
      <ion-col [hidden]="!bikelocked">
        <ion-button color="danger" expand="full" (click)="endBooking()">
          <ion-icon name="exit" slot="start" expand="full"></ion-icon> Buchung beenden
        </ion-button>
      </ion-col>
      <ion-col [hidden]="bikelocked">
        <ion-button expand="full" (click)="pauseBooking()">
          <ion-icon name="pause" slot="start" expand="full"></ion-icon> Fahrrad verriegeln
        </ion-button>
      </ion-col>
      <ion-col [hidden]="!bikelocked">
        <ion-button expand="full" (click)="resumeBooking()">
          <ion-icon name="play" slot="start" expand="full"></ion-icon> Fahrrad entriegeln
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" (click)="picker.open()">
          <ion-datetime #picker hidden displayFormat="DD.MM.YYYY HH:mm" [(ngModel)]="newEnddate" [min]="pickerMin"
            [max]="pickerMax" (ionChange)="extendBooking()" minuteValues="0,15,30,45"
            hourValues="7,8,9,10,11,12,13,14,15,16,17,18,19"></ion-datetime>
          <ion-icon name="timer" slot="start" expand="full"></ion-icon>
          Buchung verlängern
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>