.end{
        text-align: right;
}
.middle{
    text-align: center;
}

.circles{
    margin-top: 7px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.middleAlignTop{
    padding-top: 0px;
    font-size: 16px;
    margin-top: 0px;
    height: 50%;
    text-align: center;
}