<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click) ="dismissModal()">
        <ion-icon color="primary" slot="icon-only" name ="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>DSGVO Kurzversion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>

    <ion-card-content>

      Ihre Registrierung ist fast abgeschlossen! Für die vollständige Bereitstellung und Funktionsfähigkeit unserer App speichern wir Daten, die auch Ihre persönlichen Angaben betreffen. Hier sehen Sie die wichtigsten Informationen im Überblick:
      	Alle 10 Sekunden werden GPS-Daten von den elektronischen Schlössern an unseren Server geleitet, die jedoch keine Rückschlüsse auf Ihre Person zulassen.
      	Informationen, die Sie in Ihrem Profil angeben haben (z.B. E-Mail Adresse und Spitzname) werden durch das System gespeichert.
      	Ihre getätigten Buchungen sowie deren Historie werden erfasst und gespeichert.
      	Ihre Daten werden vertrauensvoll behandelt und nicht an Dritte weitergegeben.
      	Sie haben zu jedem Zeitpunkt die Möglichkeit, Ihre Daten anzupassen oder von uns eine Löschung Ihres Profils zu verlangen.
      
    </ion-card-content>
  </ion-card>

</ion-content>

