<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="home" (click)="closeFinishedBookingScreen()"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Fahrt beendet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="height:95%;">
    <ion-card-header>
      <ion-row>
        <ion-col size="12">
          <!--Header-->
          <ion-card-title class="middle">Buchung abgeschlossen</ion-card-title>
        </ion-col>
      </ion-row>
      <ion-row style="height: 24px;"></ion-row>
      <!--Fahrradanzeige-->
      <ion-row>
        <ion-col class="middle">
          <ion-chip>
            <ion-icon name="bicycle-outline" color="primary"></ion-icon>
            <ion-badge color="primary">{{booking.bicyclePedshareId}}</ion-badge>
            <ion-label class="ion-padding-start">{{booking.bicycleName}}</ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>
      <ion-row style="height: 16px;"></ion-row>
    </ion-card-header>
    <ion-card-content>

      <!--Startpunkt & Endpunkt mit Verbrauch-->
      <ion-row>
        <ion-col size="6">
          <ion-label style="font-size: 18px;">{{booking.startstationName}}</ion-label>
        </ion-col>
        <ion-col size="6" class="end">
          <ion-label class="end" style="font-size: 18px;">{{booking.endstationName}}</ion-label>
        </ion-col>
      </ion-row>

      <div [hidden]="loading">
       <ion-row style="height: 2px;"></ion-row>
        <ion-row style="margin-bottom: -8px;">
          <ion-col [hidden]="offline" class="middleAlignTop">{{booking.totalDistanceInKM | number: '0.0-2'}} km gefahren</ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="2">
            <ion-icon name="flag-outline" color="primary" style="font-size: 30px;"></ion-icon>
          </ion-col>
          <ion-col size="1">
            <ion-icon name="ellipse" class="circles"></ion-icon>

          </ion-col>
          <ion-col size="1">
            <ion-icon name="ellipse" class="circles"></ion-icon>

          </ion-col>
          <ion-col size="1">
            <ion-icon name="ellipse" class="circles"></ion-icon>

          </ion-col>
          <ion-col size="1">
            <ion-icon name="ellipse" class="circles"></ion-icon>

          </ion-col>
          <ion-col size="1">
            <ion-icon name="ellipse" class="circles"></ion-icon>

          </ion-col>
          <ion-col size="1">
            <ion-icon name="ellipse" class="circles"></ion-icon>

          </ion-col>
          <ion-col size="1">
            <ion-icon name="ellipse" class="circles"></ion-icon>

          </ion-col>
          <ion-col size="1">
            <ion-icon name="ellipse" class="circles"></ion-icon>

          </ion-col>
          <ion-col size="2" class="end">
            <ion-icon name="flag" color="primary" style="font-size: 30px;"></ion-icon>
          </ion-col>
        </ion-row>

        <ion-row style="margin-top: -8px;">
            <ion-col [hidden]="offline" class="middleAlignTop">{{(booking.totalco2SavingsInKg | number:'0.0-2') || '0'}} kg CO₂ eingespart</ion-col>
        </ion-row>

        <ion-row style="height: 24px"></ion-row>

        <!--Funfact-->
        <ion-row align-self-stretch>
          <div class="funfact">
            <ion-label [hidden]="offline">
              {{booking.funfact}}</ion-label>
              <ion-label [hidden]="!offline">
                Die Tripdaten konnten nicht empfangen werden, da keine Internetverbindung vorliegt.
              </ion-label>
          </div>
        </ion-row>   
        </div>     
        <ion-row [hidden]="!loading">
          <ion-col>
            <ion-list>
              <ion-item>
                <ion-label>Lade Fahrtdaten...</ion-label>
                <ion-spinner slot="end"></ion-spinner>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>