.end{
    text-align: right;
}
.middle{
text-align: center;
}

.circles{
margin-top: 7px;
padding-bottom: 0px;
margin-bottom: 0px;
}

.funfact{
    background-color: #408521;
    font-size: 16px; 
    color:white; 
    border-radius: 5px; 
    text-align: center;
    padding: 10px;
}

.middleAlignTop{
padding-top: 0px;
font-size: 18px;
margin-top: 0px;
height: 50%;
text-align: center;
}